.git
/.idea/*
*/__pycache__
.idea/workspace.xml
tightback/migrations/__pycache__/__init__.cpython-37.pyc
utils/Fiopy/__pycache__/_Basic_IO.cpython-37.pyc
utils/Fiopy/__pycache__/__init__.cpython-37.pyc
